/* CREATE PAGE SPECIFIC STYLES */

/* -------------------  MOBILE  --------------------- */

header {
  background-image: url('../images/create-header.png');
  background-position: center;
}

#racers li {
  display: flex;
  flex-direction: column;
}

.racer-description {
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  padding: 3px;
}

.racer-image {
  width: 100px;
  margin: 0 5px 0 5px;
}

/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {

}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}
